*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

main {
  background-color: #fff;
  margin: auto;
}

/******************** header ************************/

.hdr {
  border-bottom: 1px solid #e7e9fc;
  margin: auto;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.hdr .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hdr-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.logo-right {
  color: #2e2f42;
}

.header-menu-list {
  display: none;
}

.header-menu-link.active::after {
  width: 100%; /* Полоска всегда на активной странице */
  transition: none; /* Без анимации для active */
}

.header-menu-link:hover::after,
.header-menu-link:focus::after {
  width: 100%; /* Появляется при ховере и фокусе */
}

/* Отключаем анимацию при ховере/фокусе, если уже active */
.header-menu-link.active:hover::after,
.header-menu-link.active:focus::after {
  width: 100%; /* Остаётся без изменений */
  transition: none; /* Без анимации, если уже активна */
}

.header-menu-link:hover {
  color: #404bbf;
}

.header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link.active {
  color: #404bbf;
}

.header-address {
  display: none;
}

.header-address-link:hover {
  color: #404bbf;
}

.header-address-link:focus {
  color: #404bbf;
}

.menu-btn {
  display: block;
  border: 0;
  background: transparent;
  width: 24px;
  height: 24px;
  /*vertical-align: center;*/
  margin-left: auto;
}

.menu-icon {
  fill: #2f2f37;
}

/******************** main section-1 ************************/

.sec-one {
  background: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: auto;
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/p-off.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 2x) {
  .sec-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/p-off@2x.jpg");
  }
}

.sec-one-title {
  max-width: 216px;
  margin: 0 auto 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.sec-one-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  margin: auto;
  padding: 16px 32px;
  display: block;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-one-btn:hover {
  background: #404bbf;
}

.sec-one-btn:focus {
  background: #404bbf;
}

/******************** main section-2 ************************/

.sec-two {
  padding: 96px 0;
}

.sec-two-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 72px;
}
.sec-two-item {
  width: 100%;
}

.sec-two-item-icon {
  display: none;
}

.sec-two-txt {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.sec-two-item-hd {
  margin-bottom: 8px;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/******************** main section-3 ************************/

.sec-three {
  background: #f4f4fd;
  padding: 96px 0;
  margin: auto;
}

.sec-three-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.sec-three-list {
  padding: 0 12px;
}

.sec-three-item {
  background: #fff;
  width: 100%;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  margin-bottom: 72px;
}

.sec-three-item:last-child {
  margin-bottom: 0;
}

.sec-three-part {
  padding: 32px 16px;
}

.sec-three-txt {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
}

.sec-three-hd {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin: 0 auto 8px;
}

.sec-three-icons {
  display: flex;
  gap: 24px;
  margin: 8px 0 0;
  flex-direction: row;
  justify-content: center;
}

.sec-three-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-three-icon a {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-three-icon svg {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.sec-three-icon a:hover {
  background-color: #404bbf;
}

.sec-three-icon a:focus {
  background-color: #404bbf;
}
/******************** main portf ************************/

.sec-portf {
  padding: 96px 0;
}

.sec-portf-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.sec-portf-item {
  background: #fff;
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-portf-item:not(:last-child) {
  margin-bottom: 48px;
}

.sec-portf-part {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.sec-portf-txt {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.sec-portf-hd {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.sec-portf-img-wrap {
  position: relative;
  overflow: hidden; /* Скрываем всё, что вылезает за пределы */
}

.sec-portf-overlay {
  position: absolute;
  top: 0;
  background: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec-portf-item:hover .sec-portf-overlay,
.sec-portf-item:focus .sec-portf-overlay {
  transform: translateY(0);
}

.sec-portf-item:hover,
.sec-portf-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/******************** ftr  ************************/

.ftr {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: auto;
}

.ftr-link-container,
.ftr-social,
.ftr-subs {
  text-align: center;
}

.ftr-link-container {
  margin: 0 auto 16px;
}

.ftr-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}

.ftr-right {
  color: #f4f4fd;
}

.ftr-link-wrap {
  margin-bottom: 72px;
}

.ftr-txt {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.ftr-head,
.ftr-subs-head {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.ftr-icons {
  display: inline-flex;
  gap: 16px;
  flex-direction: row;
  margin-bottom: 72px;
}

.ftr-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ftr-icon svg {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.ftr-icon a {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-icon a:hover {
  background-color: #31d0aa;
}

.ftr-icon a:focus {
  background-color: #31d0aa;
}

.ftr-input {
  background-color: transparent;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.ftr-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.ftr-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 0;
  width: 165px;
  height: 40px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-btn:hover {
  background: #404bbf;
}

.ftr-btn:focus {
  background: #404bbf;
}

.ftr-subs-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ftr-btn-icon {
  fill: #fff;
  width: 24px;
  height: 28px;
}
/********************* modal **********************/

.modal-backdrop {
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #e7e9fc;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background: #404bbf;
  border: none;
}
.modal-close-btn:focus {
  background: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-icon {
  fill: #fff;
}

.modal-close-btn:focus .modal-close-icon {
  fill: #fff;
}

.modal-close-icon {
  fill: #2e2f42;
  width: 8px;
  height: 8px;
  z-index: 999;
  stroke-width: 1px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-label {
  line-height: 1.17;
  display: block;
}

.modal-input {
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 34px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-field {
  width: 100%;
  margin-bottom: 8px;
}

.modal-field-last {
  margin-bottom: 24px;
}

.modal-field-ta {
  margin-bottom: 16px;
}

.modal-input-wrap {
  position: relative;
}

.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  line-height: 1.17;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-label-chek {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.modal-form-label-chek a {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-form-chek-span {
  width: 16px;
  display: inline-flex;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
}

.modal-checkbox:checked + .modal-form-label-chek .modal-form-chek-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 0;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  border: none;
}

.modal-form-btn:hover {
  background-color: #404bbf;
  border: none;
}

.modal-form-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-icon-chek {
  width: 10px;
}

/***************** modal menu ********************/
.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 72px 16px 40px 16px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.menu div {
  margin-top: auto;
}

.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link.active {
  color: #404bbf;
}

.menu-addr {
  margin-bottom: 48px;
  font-style: normal;
}

.menu-address-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.menu-address-link[href^="mailto"] {
  color: #4d5ae5;
}

.menu-address-link[href^="tel"] {
  color: #434455;
}
.menu-icons {
  display: flex;
  gap: 40px;
  flex-direction: row;
}
